<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1068390802377-cbgnja1918clnl76jdghiced3e0do7a6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068390802377-cbgnja1918clnl76jdghiced3e0do7a6</string>
	<key>API_KEY</key>
	<string>AIzaSyDqv3RtP0_RED_TQ25xwDFfBK29j1KLx6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1068390802377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.laurennicoleroth.WeddingParty</string>
	<key>PROJECT_ID</key>
	<string>weddingparty-e3c44</string>
	<key>STORAGE_BUCKET</key>
	<string>weddingparty-e3c44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068390802377:ios:d610abd0efdb5091</string>
	<key>DATABASE_URL</key>
	<string>https://weddingparty-e3c44.firebaseio.com</string>
</dict>
</plist>
